<!DOCTYPE html>
<html>
  <head>
    <title>Pc List React Nodejs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>“In my experience there is no such thing as luck.” – Obi-Wan Kenobi</h1>
    <h1>Start the React server and go to:</h1>
    <p> <a href='http://localhost:3000/' target='_blank'>http://localhost:3000/ </a></p>
    <br>
    <h2>“I find your lack of faith disturbing.” – Darth Vader</h2>
    <h2>For the json file go to:</h2>
    <p><a href='http://localhost:8000/pclistdata' target='_blank'>http://localhost:8000/pclistdata </a></p>
    
  </body>
</html>
